/* Base styles */

body {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: .025rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  opacity: .5;
  border: none;
  border-top: 1px solid gray;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
}

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.row {
  display: flex;
  -webkit-display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
}

.col {
  flex-grow: 1;
  padding: 1rem;
}
